
.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cover {
    background-color: gray;
    height: 200px;
    width: 200px;
}


.c1 {
    background-image: url("../assets/images/cover1.jpg");
    background-size: cover;
}

.c2 {
    background-image: url("../assets/images/cover2.jpg");
    background-size: cover;
}

.c3 {
    background-image: url("../assets/images/cover3.jpg");
    background-size: cover;
}

.vinyl {
    background-color: black;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    z-index: -1;
    transition: 0.2s linear;
}

.cover:hover .vinyl {
    transition: 0.4s linear;
    transform: translateX(50px);
}



.detail {
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.label {
    background-color: yellow;
    width: 70px;
    height: 40px;
    border-radius: 50%;
}

.hole {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

