.titulo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
}

.lineas {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: 80px;
}