table {
    margin: auto;
    border-collapse: collapse;
}

th {
    border: black 1px solid;
    background-color: black;
    color: white;
}

td {
    border: 1px solid;
    width: 200px;
}

.temperatureData {
    text-align: center;
}